version: 2.1

jobs:
  install:
    docker: &BUILDIMAGE
      - image: jenkinsrise/cci-v2-components:0.0.4
    steps:
      - checkout
      - restore_cache:
          key: node-cache-{{ checksum "package.json" }}
      - run: sudo npm install -g gulp
      - run: npm install
      - save_cache:
          key: node-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

  build_and_test:
    docker: *BUILDIMAGE
    steps:
      - checkout
      - restore_cache:
          key: node-cache-{{ checksum "package.json" }}
      - run: npm test
      - persist_to_workspace:
          root: .
          paths:
            - dist

  gcloud-setup:
    docker: &GCSIMAGE
      - image: jenkinsrise/cci-v2-launcher-electron:0.0.6
        environment:
          WIDGETS_BASE: gs://widgets.risevision.com
    steps:
      - run: mkdir -p ~/.ssh
      - run: ssh-keyscan -H github.com >> ~/.ssh/known_hosts
      - run: git clone git@github.com:Rise-Vision/private-keys.git
      - run: mv private-keys ..
      - run: gcloud auth activate-service-account 452091732215@developer.gserviceaccount.com --key-file ../private-keys/storage-server/rva-media-library-ce0d2bd78b54.json
      - persist_to_workspace:
          root: ~/.config
          paths:
            - gcloud

  generate-version:
    docker: *BUILDIMAGE
    steps:
      - run: mkdir version-string
      - run: echo $(date +%Y.%m.%d.%H.%M) > version-string/version
      - persist_to_workspace:
          root: .
          paths:
            - version-string

  deploy-stage:
    docker: *GCSIMAGE
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          key: node-cache-{{ checksum "package.json" }}
      - run: mkdir -p ~/.config
      - run: cp -r gcloud ~/.config
      - run: |
          VERSION=$(cat version-string/version)
          TARGET=$WIDGETS_BASE/staging/common/$VERSION/
          echo Deploying version $VERSION to common
          gsutil cp dist/*.js $TARGET
          gsutil -m setmeta -r -h "Cache-Control:private, max-age=0" $TARGET
          gsutil -m acl -r ch -u AllUsers:R $TARGET

  build-component-e2e-page:
    parameters:
      stage:
        type: string
    docker: *BUILDIMAGE
    steps:
      - attach_workspace:
          at: .
      - run: echo build rise-image e2e page << parameters.stage >>
      - run: git clone https://github.com/Rise-Vision/rise-image.git
      - run: |
          IMAGEMAJOR=$(grep version rise-image/package.json | grep -Po '[0-9]+' | head -1)
          VERSION=$(cat version-string/version)
          DEST_FILE=rise-image/e2e/rise-image-electron.html
          sed "
            s!__STAGE__/common!staging/common/$VERSION!;
            s/__STAGE__/<< parameters.stage >>/;
            s!staging/components/rise-image/__VERSION__!<< parameters.stage >>/components/rise-image/$IMAGEMAJOR!;
          " rise-image/e2e/rise-image.html > $DEST_FILE
      - run: cp rise-image/e2e/polymer-e2e-electron.json rise-image/polymer.json
      - run: |
          cd rise-image
          npm install
          polymer build
      - persist_to_workspace:
          root: ./rise-image/build
          paths:
            - base

  build-common-e2e-page:
    parameters:
      stage:
        type: string
    docker: *BUILDIMAGE
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: echo build common-template e2e page << parameters.stage >>
      - run: |
          VERSION=$(cat version-string/version)
          SRC_FILE=e2e/src/template.html
          sed -i "s!stable/common!staging/common/$VERSION!" $SRC_FILE
      - run: |
          cd e2e
          npm install
          polymer build
      - persist_to_workspace:
          root: ./e2e/build
          paths:
            - base-common

  deploy-component-e2e-page:
    parameters:
      stage:
        type: string
    docker: *GCSIMAGE
    steps:
      - attach_workspace:
          at: .
      - run: mkdir -p ~/.config
      - run: cp -r gcloud ~/.config
      - run: |
          TARGET=$WIDGETS_BASE/<< parameters.stage >>/e2e/rise-image/electron
          echo Deploying << parameters.stage >> electron e2e page for rise-image
          gsutil -m rsync -d -r base $TARGET
          gsutil -m setmeta -r -h "Cache-Control:private, max-age=0" $TARGET
          gsutil -m acl -r ch -u AllUsers:R $TARGET

  deploy-common-e2e-page:
    parameters:
      stage:
        type: string
    docker: *GCSIMAGE
    steps:
      - attach_workspace:
          at: .
      - run: mkdir -p ~/.config
      - run: cp -r gcloud ~/.config
      - run: |
          TARGET=$WIDGETS_BASE/<< parameters.stage >>/templates/08d85a3642ab0e7f0548b83ae8cdfe6a41dfd8bf
          echo Deploying << parameters.stage >> e2e page for common-template
          gsutil -m rsync -d -r base-common $TARGET
          gsutil -m setmeta -r -h "Cache-Control:private, max-age=0" $TARGET
          gsutil -m acl -r ch -u AllUsers:R $TARGET

  test-e2e-electron:
    parameters:
      stage:
        type: string
      displayId:
        type: string
      installerPath:
        type: string
    docker: &E2EIMAGE
      - image: jenkinsrise/jenkinsrise-cci-image-launcher-electron-e2e:0.0.2
        environment:
          SCREENSHOTS_BASE: https://storage.googleapis.com/risevision-display-screenshots
          PLAYER_CONFIG: /home/circleci/rvplayer/RiseDisplayNetworkII.ini
    steps:
      - run: git clone https://github.com/Rise-Vision/rise-launcher-electron-e2e.git
      - run: |
          cd rise-launcher-electron-e2e
          npm install
      - run: mkdir ~/rvplayer
      - run: echo "displayid=<< parameters.displayId >>" > $PLAYER_CONFIG
      - run: echo proxy= >> $PLAYER_CONFIG
      - run: echo "debugviewerurl=https://issue-592-dot-rvaviewer-test.appspot.com/Viewer.html" >> $PLAYER_CONFIG
      - run:
          name: prepare the test
          command: |
            EXPECTED_SNAPSHOT_URL=$SCREENSHOTS_BASE/<< parameters.displayId >>.jpg
            cd rise-launcher-electron-e2e
            curl $EXPECTED_SNAPSHOT_URL > expected-screenshot.jpg
            curl << parameters.installerPath >>installer-lnx-64.sh > installer.sh
            chmod +x installer.sh
      - run:
          name: run the test
          command: |
            cd rise-launcher-electron-e2e
            node test-display-runner-using-downloaded-installer.js << parameters.displayId >> 20
      - run:
          command: |
            mkdir output
            mv ./rise-launcher-electron-e2e/*screenshot.jpg output
          when: always
      - store_artifacts:
          path: output
          when: always

  deploy-production:
    parameters:
      stage:
        type: string
    docker: *GCSIMAGE
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          key: node-cache-{{ checksum "package.json" }}
      - run: mkdir -p ~/.config
      - run: cp -r gcloud ~/.config
      - run: |
          TARGET=$WIDGETS_BASE/<< parameters.stage >>/common
          gsutil cp dist/*.js $TARGET
          gsutil -m setmeta -r -h "Cache-Control:private, max-age=0" $TARGET
          gsutil -m acl -r ch -u AllUsers:R $TARGET

workflows:
  workflow1:
    jobs:
      - install
      - build_and_test:
          requires:
            - install
      - gcloud-setup:
          filters:
            branches:
              only:
                - /^(stage|staging)[/].*/
                - master
                - build/stable
                - /^e2e[/].*/
      - generate-version:
          requires:
            - install
          filters:
            branches:
              only:
                - /^(stage|staging)[/].*/
                - master
                - build/stable
                - /^e2e[/].*/
      - deploy-stage:
          requires:
            - build_and_test
            - gcloud-setup
            - generate-version
          filters:
            branches:
              only:
                - /^(stage|staging)[/].*/
                - master
                - build/stable
                - /^e2e[/].*/
      - build-component-e2e-page:
          stage: beta
          name: build-component-e2e-page-beta
          requires:
            - build_and_test
            - generate-version
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - build-component-e2e-page:
          stage: stable
          name: build-component-e2e-page-stable
          requires:
            - build_and_test
            - generate-version
          filters:
            branches:
              only:
                - build/stable
      - build-common-e2e-page:
          stage: beta
          name: build-common-e2e-page-beta
          requires:
            - build_and_test
            - generate-version
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - build-common-e2e-page:
          stage: stable
          name: build-common-e2e-page-stable
          requires:
            - build_and_test
            - generate-version
          filters:
            branches:
              only:
                - build/stable
      - deploy-component-e2e-page:
          stage: beta
          name: deploy-component-e2e-page-beta
          requires:
            - gcloud-setup
            - build-component-e2e-page-beta
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - deploy-component-e2e-page:
          stage: stable
          name: deploy-component-e2e-page-stable
          requires:
            - gcloud-setup
            - build-component-e2e-page-stable
          filters:
            branches:
              only:
                - build/stable
      - deploy-common-e2e-page:
          stage: beta
          name: deploy-common-e2e-page-beta
          requires:
            - gcloud-setup
            - build-common-e2e-page-beta
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - deploy-common-e2e-page:
          stage: stable
          name: deploy-common-e2e-page-stable
          requires:
            - gcloud-setup
            - build-common-e2e-page-stable
          filters:
            branches:
              only:
                - build/stable
      - test-e2e-electron:
          stage: beta
          displayId: NEWSF2QM2B2F
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/beta/
          name: test-component-e2e-electron-beta
          requires:
            - deploy-stage
            - deploy-component-e2e-page-beta
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - test-e2e-electron:
          stage: stable
          displayId: 3AEP9BWZEKFN
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/
          name: test-component-e2e-electron-stable
          requires:
            - deploy-stage
            - deploy-component-e2e-page-stable
          filters:
            branches:
              only:
                - build/stable
      - test-e2e-electron:
          stage: beta
          displayId: N97C6KMBCA9Y
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/beta/
          name: test-common-single-e2e-electron-beta
          requires:
            - deploy-stage
            - deploy-common-e2e-page-beta
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - test-e2e-electron:
          stage: stable
          displayId: 3JBY4B4MBUB8
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/
          name: test-common-single-e2e-electron-stable
          requires:
            - deploy-stage
            - deploy-common-e2e-page-stable
          filters:
            branches:
              only:
                - build/stable
      - test-e2e-electron:
          stage: beta
          displayId: KEKUZJZ3TVZ2
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/beta/
          name: test-common-multiple-e2e-electron-beta
          requires:
            - deploy-stage
            - deploy-common-e2e-page-beta
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - test-e2e-electron:
          stage: stable
          displayId: TTDNZ5JKX33S
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/
          name: test-common-multiple-e2e-electron-stable
          requires:
            - deploy-stage
            - deploy-common-e2e-page-stable
          filters:
            branches:
              only:
                - build/stable
      - test-e2e-electron:
          stage: beta
          displayId: G4V2XEB2J69R
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/beta/
          name: test-common-legacy+html-e2e-electron-beta
          requires:
            - deploy-stage
            - deploy-common-e2e-page-beta
          filters:
            branches:
              only:
                - master
                - /^e2e[/].*/
      - test-e2e-electron:
          stage: stable
          displayId: MCXUAAKYUJP8
          installerPath: https://storage.googleapis.com/install-versions.risevision.com/
          name: test-common-legacy+html-e2e-electron-stable
          requires:
            - deploy-stage
            - deploy-common-e2e-page-stable
          filters:
            branches:
              only:
                - build/stable
      - deploy-production:
          stage: beta
          name: deploy-beta
          requires:
            - test-component-e2e-electron-beta
            - test-common-single-e2e-electron-beta
            - test-common-multiple-e2e-electron-beta
            - test-common-legacy+html-e2e-electron-beta
            - gcloud-setup
          filters:
            branches:
              only:
                - master
      - deploy-production:
          stage: stable
          name: deploy-stable
          requires:
            - test-component-e2e-electron-stable
            - test-common-single-e2e-electron-stable
            - test-common-multiple-e2e-electron-stable
            - test-common-legacy+html-e2e-electron-stable
            - gcloud-setup
          filters:
            branches:
              only:
                - build/stable
